.card>.card-img-overlay
{
    top:65%;
}
.card>img{
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width:100.5%;
    overflow-x: hidden;
}
.card-img-overlay img {
    width:5%
}

.AppleDevice,.connectingDevice{
    display: flex;
    align-items: baseline;
    justify-content: space-around;

}
.Accordingcomp{
    width: 80%;
    margin: auto;
}

.AppleDevice> div>img,.connectingDevice>div>img{
width: 50%;
}

.Black_screen>.card>.card-img-overlay{
    top:20%
}

.ceroDiv>img{

    width: 100%;
    padding-left: 14px;
    /* border-bottom-left-radius: 10%;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 10%;
    border-top-right-radius: 14px; */
}


.CeroTags{
    text-align: start;
    margin-left: 77px;
}

.Dcerosel{
    width:95%;
    margin:auto;
}
.slick-slider{
    padding:0 67px;
}
/* .slick-slider>Button{
    padding: 16px;
}  */
 .slick-next:before, [dir=rtl] .slick-prev:before {

    padding-left: 10px;
    margin-left:-130px

} 

.slick-next:before, .slick-prev:before {
    font-size: 44px;
    color: #141619;
}
.single_page>img{
    width: 100% !important;
}